<div class="jumbotron">
  <h1>Chef Finder</h1>
  <h3>Find the right chef for you based on your preferences!</h3>
</div>

<ul>
  <% @chefs.each do |chef| %>
    <li><%= link_to chef.name, chef_path(chef) %></li>
    <li><%= chef.phone %></li>
    <li><%= chef.address %></li>
  <% end %>
</ul>

<%= link_to "Add a New Chef", new_chef_path%>
