
<% if @user.dishes.any?%>

<table class="pretty">
  <tr>
    <th>Date</th>
    <th>Rating</th>
  </tr>
  <tr>

    <td>Name: <%= dish.name%></td>
    <td>Description: <%= dish.description%></td>

  </tr>
</table>
<%end %>
