/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require main
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";

$base-color: #37322f;

body {
  background-color: $base-color;
}

.form-control {
  color: yellow;
}

#dishes_display {
  ul {
  padding:0 0 0 0;
  margin:0 0 0 0;
  }
  ul li {
    list-style:none;
    margin-bottom:25px;
  }
  ul li img {
  cursor: pointer;
  }
}

#banner {
  background-image: image('splash');
}

.nav-avatar {
    background-color: white;
    border: 1px solid #A89447;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}

.cheffer-blurb {
  color: white;
}

#cheffer-instructions {
  color: white;
}

.profile-title {
  h2 {
    color: white;
    z-index:100;
    position:absolute;
    font-weight:bold;
    left: 6em;
  }
  h3 {
    color: white;
    z-index:100;
    position:absolute;
    font-weight:bold;
    left: 6em;
    top: 130px;
  }
}
