<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->

		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="index">
		<div id="page-wrapper">
			<!-- Banner -->
				<section id="banner">
					<!--
						".inner" is set up as an inline-block so it automatically expands
						in both directions to fit whatever's inside it. This means it won't
						automatically wrap lines, so be sure to use line breaks where
						appropriate (<br />).
					-->
					<div class="inner">
						<header>
							<br>
							<h2>Cheffer</h2>
							<br>
						</header>
						<p>Eating Well at Home</p>
						<footer>
							<ul class="buttons vertical">
								<li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
							</ul>
						</footer>
					</div>
				</section>

			<!-- Main -->
				<article id="main">
					<header class="special">
						<div class="cheffer-blurb">
							<span class="icon fa-cutlery"></span>
							<p>"I love Cheffer because I can quickly host a party without worrying about what food to serve. That peace of mind allows me and my guests to really enjoy ourselves."</p>
						</div>
					</header>

					<!-- One -->
						<section class="wrapper style2 special">
							<div class="row 50%">
								<div class="6u 12u(narrower)">

									<header>
										<h2>The premier online marketplace for personal chefs</h2>
									</header>
									<p>We aim to revolutionize the food industry by providing a one-stop-shop for hosts to find the perfect chef to craft a personalized and unique dining experience, and providing opportunities for chefs to break free from the restaurant environment and work independently.</p>
									<footer>
										<ul class="buttons">
											<li><a href="#cheffer-instructions" class="button fit scrolly">Find Out More</a></li>
										</ul>
									</footer>

								</div>
								<div class="6u 12u(narrower) important(narrower)">

									<ul class="image featured">
										<li><%=image_tag(("hero3.jpg"), :class=>"responsive")%></li>
									</ul>

								</div>
							</div>
						</section>

					<!-- Two -->
						<section id="cheffer-instructions" class="wrapper style1 special">
							<div class="row">
								<div class="col-sm-4">
									<section>
										<span class="icon featured fa-user"></span>
										<header>
											<h3>Step One</h3>
										</header>
										<p>Create your Profile.</p>
									</section>
								</div>
								<div class="col-sm-4">

									<section>
										<span class="icon featured fa-calendar"></span>
										<header>
											<h3>Step Two</h3>
										</header>
										<p>Submit Menu and Availability.</p>
									</section>

								</div>
								<div class="col-sm-4">

									<section>
										<span class="icon featured fa-check"></span>
										<header>
											<h3>Step Three</h3>
										</header>
										<p>Receive and Execute Bookings.</p>
									</section>

								</div>
							</div>
						</section>

					<!-- Three -->
						<section class="wrapper style3 special">

							<header class="major">
								<h2>Next look at this <strong>cool stuff</strong></h2>
							</header>

							<div class="row">
								<div class="col-sm-6">

									<section>
										<a href="#" class="image featured"><%=image_tag(("hero1.jpeg"), :class=>"responsive")%></a>
										<header>
											<h3>Be The Party</h3>
										</header>
										<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
									</section>

								</div>
								<div class="col-sm-6">

									<section>
										<a href="#" class="image featured"><%=image_tag(("hero2.jpg"), :class=>"responsive")%></a>
										<header>
											<h3>Host a Party</h3>
										</header>
										<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
									</section>

								</div>
							</div>

							<footer class="major">
								<ul class="buttons">
									<li><a href="#" class="button">See More</a></li>
								</ul>
							</footer>

						</section>

				</article>

			<!-- CTA -->
				<section id="cta" class='special'>

					<header>
						<h2>Ready to do <strong>something</strong>?</h2>
					</header>
					<footer>
						<ul class="buttons">
							<li><a href="#" class="button special">Sign Up</a></li>
							<li><a href="#" class="button"> Log In</a></li>
						</ul>
					</footer>

				</section>
		</div>
	</body>
</html>
